
.navbar {
    background-color: rgb(255, 255, 255);
}

.tittle-page {
    font-family: FreeMono, monospace;
}

.formulario {
    padding: 50px 400px;
    width: auto;
    height: auto;
}
.margin {
    padding-top: 10px;
    padding-bottom: 50px;
} 
.text {
    padding-bottom: 8px;
}
.form-label-group {
    padding-bottom: 30px;
}

.navbar-brand {
    padding-left: 480px;
}

.container {
    padding: 50px;
}